<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильмы</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('blocks/menu.ejs') %>
    <h1>Все заявки на рассмотрении:</h1>
    <table>
        <tr>
            <td>№</td>
            <td>Услуга</td>
            <td>Бюджет</td>
            <td>Телефонный номер</td>
            <td>Информация</td>
        </tr>
        <% for(let i=0; i<data.length; i++) { %>
        <tr>
            <td><%= (i+1) %></td>
            <td><%= data[i]['upgrade'] %></td>
            <td><%= data[i]['cost'] %></td>
            <td><%= data[i]['number'] %></td>
            <td><%= data[i]['info'] %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>